/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative;  zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption Style 1 */
.slider-caption {max-width: 50%; /*padding: 22px;*/ padding: 0; margin: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; background: url(../../images/custom/slider_caption_bg.png); color: #aaa; font-family: Tahoma, sans-serif; font-size: 12px; line-height: 19px;}
.slider-caption h3 {color: #fff; font-size: 16px; font-family: "Open Sans", Arial, sans-serif; font-weight: bold; letter-spacing: -0.5px; padding: 22px 22px 10px 22px; margin:0; line-height: 22px; }
.slider-caption p {padding: 0 22px 22px 22px;}
.slider-caption a {color: #AAA;}
.slider-caption a:hover {text-decoration: none;}
/* Caption Style 2 */
.slider-caption-2 {margin-left: 20px; position: absolute; left: 0; top: 40%; color: #fff; font-weight: bold; font-family: Arial, sans-serif; font-size: 12px; line-height: 19px;}
.slider-caption-2 h3 {padding: 8px 10px; color: #fff; font-size: 19px; font-family: "Open Sans", Arial, sans-serif; font-weight: bold; letter-spacing: -0.5px; margin:0; line-height: 22px; background:#0063ac; display: inline-block;}

.slider-caption-2 a {color: #fff;}
.slider-caption-2 a:hover {text-decoration: none;}

.slider-caption p, .slider-caption-2 p{line-height: 19px; }
.slider-caption-2 p{background: #363636; padding: 5px 10px;}

/* Caption Style inserat */
.slider-caption-inserat {padding-right: 35px; position: absolute; left: 285px; top: 35px; color: #000000; font-weight: bold; font-family: Tahoma, sans-serif; font-size: 12px; line-height: 19px;}
.slider-caption-inserat h3 {padding: 8px 0 40px; font-size: 35px; font-family: "Open Sans", Arial, sans-serif; font-weight: bold; letter-spacing: -0.5px; margin:0; line-height: 43px;}
.slider-caption-inserat h3 span {color: #0660a7; font-weight: normal;}

.slider-caption-inserat a {}
.slider-caption-inserat a:hover {text-decoration: none;}
.slider-caption-inserat p {line-height: 30px; font-size: 24px; padding: 5px 0; font-weight: normal;}
.slider-caption-inserat .inserattext {color:#676767;}
.slider-caption-inserat .preisbox {background-color: #3e3e3e;}
.slider-caption-inserat .preisbox, .slider-caption-inserat .preisbox p {font-size: 20px; color: #FFF; text-align: center;}
.slider-caption-inserat .preisbox p strong {font-size: 24px; color: #FFF;}
.slider-caption-inserat .linkmore {padding-top: 25px; font-weight: normal; font-style: italic; font-size: 15px;}





/* Control Nav */
.flex-control-nav {width: 100%; text-align: center; margin-top: 8px;}
.flex-control-nav li {margin: 0 0 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 14px; height: 14px; display: block; background: url(../../images/custom/slider_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -0px;}
.flex-control-nav li a.active {background-position: 0 -14px; cursor: default;}